---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Skills from '../components/Skills.astro';
import Experience from '../components/Experience.astro';
import Projects from '../components/Projects.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Taufeeq Ali | Full Stack Developer">
	<Header />
	<main class="overflow-x-hidden">
		<Hero />
		<About />
		<Skills />
		<Experience />
		<Projects />
	</main>
	<Footer />
</Layout>
